
body {
   width: 100%;
}

#game {
    width: 87%;
    height: 30vw;
    position: absolute;
    top: 0;
    padding-left: 12.5%;
}

.newobj {
  width: 110%;
  height: 2vw;
  /* background-color: blue; */
  position: absolute;
  bottom: 10vw;
  margin-left: -20vw;

}


.plane2 {
  width: 100%;
  height: 3vw;
  position: absolute;
  top: 0;
}

/* @keyframes slideobj {
  0%{left: 120%}
  100%{left: -40%}
}  */



#character {
    display: inline-block;
    height: 3vw;
    width: 11%;
    position: absolute;
    top: 26vw;
    z-index: 3;
    /* background-color: blue; */
      transform: rotate(0deg);
}

.blockimg {
    width: 100%;
    height: 9VW;
    
}

.blockpar {
  width: 15%;
  height: 9VW;
  position: absolute;
  display: inline-block;
  top: 21.2vw;
  left: 78.5%;
  /* animation: block 1.7s infinite linear; */
  animation-delay: 1s;
  z-index: 2;
}

.blockpar2 {
  width: 15%;
  height: 9VW;
  position: absolute;
  display: inline-block;
  top: 21.2vw;
  left: 78.5%;
}

.scorepar {
  width: 100%;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 34;
}

.scorepar0 {
  margin-top: 1vw;
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 34;
}

.score {
  font-size: 2vw;
  color: rgb(59, 56, 56);
  font-family: Poppins;
}

.scored {
  font-size: 2vw;
  color: rgb(41, 39, 39);
  font-family: Poppins;
}

.colpar {
  width: 100%;
  height: 9vw;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.collider {
  /* display: none; */
  height: 8.5vw;
  width: 70%;
  /* background-color: red;  */
  position: absolute;
  bottom: 0;
  margin-right: 2vw;
  z-index: 2;
}

.animate {
    animation: character 0.5s infinite linear;
}

.animate1 {
  animation: updown 0.2s infinite;
}

.reset {
  animation: reset 0.2s;
}


@keyframes reset {
  0%{left: 100%}
  100%{left: 90%}
} 


 @keyframes block {
    0%{left: 120%}
    100%{left: -100%}
} 



@keyframes character {
    0%{top: 26vw}
    0%{transform: rotate(0deg)}
    25%{transform: rotate(-20deg)}
    50%{transform: rotate(0deg)}
    75%{transform: rotate(20deg)}
    100%{transform: rotate(0deg)}
    30%{top: 18vw}
    70%{top: 18vw}
    100%{top: 26vw}
} 

@keyframes updown {
    0%{top: 26vw}
    50%{top: 26.1vw}
    100%{top: 26vw}
}



.par {
    position: relative;
    overflow: hidden;           
    height: 30vw;
    margin-top: 7vw;
    background-color: gray;
    border: solid;
    border-width: 0.2vw;
    border-color: gray;
}

.sea {
  position: absolute;
  bottom: 0vw;
  width: 100%;
  height: 4vw;
  z-index: 1;
}

.seapic {
  width: 100%;
  height: 4vw;
  position: absolute;
  top: 0;
}

.horizone {
  width: 100%;
  height: 30vw;
}


.restartpar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30vw;
  display: none;
  align-items: center;
  justify-content: center;
}

.restart {
  z-index: 100;
  width: 10vw;
}

#width {
  width: 100%;
  color: transparent;
  /* background-color: blue; */
  position: absolute;
  top: 0;
}

.test1 {
  color: transparent;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



@media only screen and (max-width: 600px) {
 
.test1 {
  color: transparent;
  /* background-color: blue; */
  position: absolute;
  top: 0;
  display: none;
}

    
body {
    width: 100%;
 }
 
 #game {
     width: 87%;
     height: 75vw;
     position: absolute;
     top: 0;
     padding-left: 12.5%;
 }
 
 #character {
     display: inline-block;
     height: 5vw;
     width: 17%;
     position: absolute;
     top: 68vw;
     z-index: 4;
     /* background-color: blue; */
       transform: rotate(0deg);
 }

 .blockimg {
  width: 100%;
  height: 16VW;
  
}

 
 .blockpar {
     width: 25%;
     height: 15VW;
     /* background-color: red; */
     position: absolute;
     display: inline-block;
     top: 60vw;
     left: 70%;
     animation: block 1.7s infinite linear;
 }


 .newobj {
  width: 100%;
  height: 3vw;
  /* background-color: blue; */
  position: absolute;
  bottom: 16vw;
  margin-left: 20vw;
}


.plane2 {
  width: 100%;
  height: 4vw;
  position: absolute;
  top: 0;
}


 
.colpar {
  width: 100%;
  height: 15vw;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.collider {
  height: 13vw;
  width: 70%;
  /* background-color: red; */
  position: absolute;
  bottom: 0;
  margin-right: 3vw;
  z-index: 3;
}

.score {
  margin-top: 0.5vw;
  font-size: 4vw;
  color: rgb(59, 56, 56);
  font-family: Poppins;
}

.scored {
  margin-top: 4vw;
  font-size: 4vw;
  color: rgb(46, 43, 43);
  font-family: Poppins;
}

.scorepar0 {
  padding-top: 1vw;
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5vw;
  z-index: 34;
}
 
 .animate {
     animation: character 0.5s infinite linear;
 }
 
 .animate1 {
   animation: updown 0.2s infinite;
 }

 .reset {
  animation: reset 0.2s;
}


@keyframes reset {
  0%{left: 100%}
  100%{left: 90%}
} 


   @keyframes block {
     0%{left: 120%}
     100%{left: -140%}
 } 
 
 @keyframes character {
     0%{top: 68vw}
     0%{transform: rotate(0deg)}
     25%{transform: rotate(-20deg)}
     50%{transform: rotate(0deg)}
     75%{transform: rotate(20deg)}
     100%{transform: rotate(0deg)}
     30%{top: 54vw}
     70%{top: 54vw}
     100%{top: 68vw}
 }  
 
 @keyframes updown {
     0%{top: 68.4vw}
     50%{top: 68.5vw}
     100%{top: 68.4vw}
 }
 
  

 
 .par {
     position: relative;
     overflow: hidden;
     height: 75vw;
     margin-top: 15vw;
     border: solid;
     border-width: 0.4vw;
     border-color: gray;
 }


 
 .sea {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6.5vw;
  z-index: 1;
  background-color: aqua;
}

.seapic {
  width: 100%;
  height: 6.5vw;
  position: absolute;
  top: 0;
}


.horizone {
  width: 100%;
  height: 75vw;

}


 .restartpar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 75vw;
  display: none;
  align-items: center;
  justify-content: center;
}

.restart {
  z-index: 100;
  width: 15vw;
}
 
 



  }