
body {
   width: 100%;
}

#game {
    width: 87%;
    height: 30vw;
    position: absolute;
    top: 0;
    padding-left: 12.5%;
}

#character {
    display: inline-block;
    height: 3vw;
    width: 11%;
    position: absolute;
    top: 26vw;
    z-index: 3;
    /* background-color: blue; */
      transform: rotate(0deg);
}

.blockimg {
    width: 100%;
    height: 9VW;
    
}

.blockpar {
  width: 15%;
  height: 9VW;
  position: absolute;
  display: inline-block;
  top: 21vw;
  left: 78.5%;
  /* animation: block 1.7s infinite linear; */
  z-index: 2;
}

.blockpar2 {
  width: 15%;
  height: 9VW;
  position: absolute;
  display: inline-block;
  top: 21vw;
  left: 78.5%;
}
.scorepar {
  width: 100%;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 34;
}

.scorepar0 {
  margin-top: 1vw;
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 34;
}

.score {
  font-size: 2vw;
}

.colpar {
  width: 100%;
  height: 9vw;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.collider {
  height: 8.5vw;
  width: 60%;
  /* background-color: red; */
  position: absolute;
  bottom: 0;
  margin-right: 3vw;
  z-index: 2;
}

.animate {
    animation: character 0.5s infinite linear;
}

.animate1 {
  animation: updown 0.2s infinite;
}

.reset {
  animation: reset 0.2s;
}


@keyframes reset {
  0%{left: 100%}
  100%{left: 90%}
} 


 @keyframes block {
    0%{left: 120%}
    100%{left: -40%}
} 



@keyframes character {
    0%{top: 26vw}
    0%{transform: rotate(0deg)}
    25%{transform: rotate(-20deg)}
    50%{transform: rotate(0deg)}
    75%{transform: rotate(20deg)}
    100%{transform: rotate(0deg)}
    30%{top: 18vw}
    70%{top: 18vw}
    100%{top: 26vw}
} 

@keyframes updown {
    0%{top: 26vw}
    50%{top: 26.1vw}
    100%{top: 26vw}
}



.par {
    position: relative;
    overflow: hidden;
    height: 30vw;
    margin-top: 7vw;
    background-color: turquoise;
    border: solid;
    border-width: 0.2vw;
    border-color: gray;
}

.sea {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3vw;
  z-index: 1;
}

.seapic {
  width: 100%;
}



.restartpar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30vw;
  display: none;
  align-items: center;
  justify-content: center;
}

.restart {
  z-index: 100;
  width: 10vw;
}



@media only screen and (max-width: 600px) {
 


    
body {
    width: 100%;
 }
 
 #game {
     width: 87%;
     height: 75vw;
     border: solid;
     position: absolute;
     top: 0;
     border-width: 0.1vw;
     padding-left: 12.5%;
 }
 
 #character {
     display: inline-block;
     height: 5vw;
     width: 18%;
     position: absolute;
     top: 60vw;
     z-index: 4;
     /* background-color: blue; */
       transform: rotate(0deg);
 }

 .blockimg {
  width: 100%;
  height: 14VW;
  
}

 
 .blockpar {
     width: 24%;
     height: 14VW;
     /* background-color: red; */
     position: absolute;
     display: inline-block;
     top: 62vw;
     left: 70%;
     animation: block 1.7s infinite linear;
 }

 
.colpar {
  width: 100%;
  height: 14vw;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.collider {
  height: 13vw;
  width: 70%;
  /* background-color: red; */
  position: absolute;
  bottom: 0;
  margin-right: 3vw;
  z-index: 3;
}

.score {
  margin-top: 0.5vw;
  font-size: 4vw;
}

.scorepar0 {
  padding-top: 3vw;
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 34;
}
 
 .animate {
     animation: character 0.5s infinite linear;
 }
 
 .animate1 {
   animation: updown 0.2s infinite;
 }

 .reset {
  animation: reset 0.2s;
}


@keyframes reset {
  0%{left: 100%}
  100%{left: 90%}
} 


   @keyframes block {
     0%{left: 120%}
     100%{left: -70%}
 } 
 
 @keyframes character {
     0%{top: 68vw}
     0%{transform: rotate(0deg)}
     25%{transform: rotate(-20deg)}
     50%{transform: rotate(0deg)}
     75%{transform: rotate(20deg)}
     100%{transform: rotate(0deg)}
     30%{top: 53vw}
     70%{top: 53vw}
     100%{top: 68vw}
 }  
 
 @keyframes updown {
     0%{top: 68vw}
     50%{top: 68.2vw}
     100%{top: 68vw}
 }
 
  
 
 
 .background {
     background: url("https://i.pinimg.com/originals/be/ba/cc/bebacca37611dbb7004be7363f74dfb9.jpg") repeat-x;
     height: 75vw;
     width: 400%;
     animation: slide 40s linear infinite;
     background-color: rgba(185, 138, 9, 0.363);
   }
 
   @keyframes slide{
     0%{
       transform: translate3d(0, 0, 0);
     }
     100%{
       transform: translate3d(-40%, 0, 0);
     }
   }
 
 .par {
     position: relative;
     overflow: hidden;
     height: 75vw;
     margin-top: 15vw;
 }


 
.sea {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5vw;
  z-index: 1;
}

.seapic {
  width: 100%;
}


 .restartpar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 75vw;
  display: none;
  align-items: center;
  justify-content: center;
}

.restart {
  z-index: 100;
  width: 15vw;
}
 
 



  }